mat-card{
  display: inline-block;
  margin:3.125rem;
  width:18.75rem;
}
mat-card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
mat-card-content{
  justify-content: center;
    display: flex;
}
.gif-preview{
  max-width: 80%;
  height: 12.5rem;
  margin: 1.25rem;
}
.img-error {
  max-height: 18.75rem;
  width: auto;
}
