<div class="container">
  <div fxFlex="100">
    <div *ngIf="data && data.length>0 ">
      <div>
        <mat-card *ngFor="let item of data">
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-content>
            <img class="gif-preview" src="{{item.images.preview_gif.url}}">
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
