<div fxFlex="40" class="container">
  <mat-card>
    <mat-card-title>Search here</mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider>
      <form class="form">
        <mat-form-field appearance="fill">
          <mat-label>Find a gif</mat-label>
          <input type="text" matInput [formControl]="searchFormControl" placeholder="write a word">
          <mat-error *ngIf="searchFormControl.hasError('search') && !searchFormControl.hasError('required')">
            Please write a word
          </mat-error>
          <mat-error *ngIf="searchFormControl.hasError('required')">
            a letter is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-search-result [data]="data">
</app-search-result>
