@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;

}
.container {
  margin: 20px;
  display: flex;
  justify-content: center;
}


app-dashboard{
  justify-content: center;
  margin-top: 4rem;
  flex-direction: column;
}
